<h2>Recipes</h2>
<div>
  <% recipes.forEach(function(food) { %>

       <h3><a class="food"><%= food.title %></a></h3>
       <a ><img src= "<%= food.thumbnail %>" alt="foodPic"></a>
  <h3>Ingredients</h3>
       <li><a class="food"><%= food.ingredients %></a></li>

       <form method="POST" action="/recipes">
         <input hidden type="text" id="recipe" name="food" value="<%= food.title %>">
         <input class="btn btn-primary" type="submit" value="Add <%= food.title %> to My Favorites!">
       </form>
   <% }); %>
</div>
